body {
  background-image: url(https://media.traveler.es/photos/61376fefc6202df7591603b7/master/w_1600,c_limit/132198.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

div {
  font-size: 8rem;
  margin-top: 40vh;
  backdrop-filter: blur(19px);
  display: inline-block;
  color: gold;
  text-shadow: 2px 2px 5px black;
}
